{{#> base}}
	{{#*inline "head"}}
		<title>Nate Nethercott's Blog</title>
		<meta property="og:title" content="Nate Nethercott's Blog">

		<link type="application/atom+xml" rel="alternate" href="{{feed}}" title="Nate Nethercott's Blog">
	{{/inline}}
	{{#*inline "body"}}
		<h1>
			Recent posts
			<a href="{{feed}}" title="Atom Feed">
				<img height="16" alt="RSS icon" src="/static/feed-icon.svg">
			</a>
		</h1>
		{{#each posts}}
			<li>
				{{#if content}}
					{{#if content.metadata.published}}
            <span style="margin-right: 0.6em">
              <time datetime="{{content.metadata.published}}">{{content.metadata.published}}</time>
            </span>
					{{else}}
						(draft)
					{{/if}}
					<a href="{{stem}}">{{content.markdown.title}}</a>
				{{else}}
					<a href="{{stem}}">Error generating post from {{stem}}.md</a>
				{{/if}}
			</li>
		{{/each}}
	{{/inline}}
{{/base}}
