{{#> base}}
	{{#*inline "head"}}
		<title>{{post.markdown.title}} - nostromo</title>
		<meta property="og:title" content="{{post.markdown.title}}">
		<meta name="description" content="{{post.markdown.summary}}">
		<meta property="og:type" content="article">

		<link rel="stylesheet" href="{{post_css}}">
		{{#if live_reload}}<script>dependency("{{post_css}}")</script>{{/if}}

		<link type="application/atom+xml" rel="alternate" href="{{feed}}" title="nostromo">
	{{/inline}}
	{{#*inline "body"}}
		<p id="published">
			{{#if post.metadata.published}}
				<time datetime="{{post.metadata.published}}">{{post.metadata.published}}</time>
			{{else}}
				Draft
			{{/if}}
			{{#if post.metadata.updated}}
				(updated <time datetime="{{post.metadata.updated}}">{{post.metadata.updated}}</time>)
			{{/if}}
		</p>
		<h1 class="title">{{{post.markdown.title}}}</h1>
    <blockquote id="description">
      {{#if post.metadata.description}}
        {{post.metadata.description}}
      {{/if}}
    </blockquote>
		<nav>{{{post.markdown.outline}}}</nav>
    <div class="md-body">
      {{{post.markdown.body}}}
    </div>

		<p class="back"><a href="#">том Back to top</a></p>
	{{/inline}}
{{/base}}
